RewriteEngine On
RewriteBase /ai/chromeai/multimodal/
RewriteRule ^index\.html$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /ai/chromeai/multimodal/index.html [L]

